@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Проект ShopOnline</h1>
    <ul>
        <li>
            25.02.2025
            <ul>
                <li>Создание модели</li>
                <li>Создание контроллера</li>
                <ul>
                    <li>
                        <a href="/product?name=чебурек&description=vkusnij&price=2000">chebur 2000</a>
                    </li>
                    <li>
                        <a asp-area=""
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-name="Цахараджын"
                           asp-route-price="350"
                           asp-route-description="Пирог с листьями">Пирог осетинский с листьями по 350 р
                       </a>

                    </li>
                </ul>
                <li>Создание представления</li>
                <li>Создание класса пользователь с полями: имя, логин, пароль, телефон. Создание полного MVC  для отображения информации о пользователе</li>
            </ul>
        </li>
        <li>4.02.2025
        </li>
    </ul>
</div>
